body {
	background-color: #FFFCF8;
	font-family: 'Happy Monkey', cursive;
	color: #49280A;
}

h1 {
	text-align: center;

}

.hamsters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hamster {
	background-color: #FFFFFF;
	width: 30%;
	margin: 10px;
	text-align: center;
}

.price {
	text-align: right;
	margin: 10px;
}

.name {
	text-align: center;
}

img {
	width: 80%;
}

button {
	width: 70%;
	border: none;
	font-size: 18px;
	font-family: 'Happy Monkey', cursive;
	height: 30px;
	padding: 10px;
}

button:hover {
	background-color: #e0dfdf;
}